@model GymBro_App.ViewModels.UserInfoModel;
@{
    ViewData["Title"] = "User Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome @Model.Username</h1>
    <hr/>
</div>
<div class="row">
    <div class="col-md-2 col-sm-12 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://placehold.co/125x125?text=Profile+Pic" class="img-fluid mb-2 user-profile" alt="User Image" />
                <p class="mb-0">@Model.FirstName @Model.LastName</p>
                <p class="text-muted">@Model.Email</p>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-sm-12 mb-3 text-center">
        <div class="card">
            <h5 class="card-title my-2">Completed Workouts</h5>
            <div class="card-body">
                @if (Model.WorkoutPlans.Count <= 0)
                {
                    <p>You haven't completed any workouts yet</p>
                }
                else
                {
                    <ul class="list-group">
                        @foreach (var workout in Model.WorkoutPlans)
                        {
                            <li class="list-group-item">@workout.PlanName</li>
                        }
                    
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://placehold.co/350x200?text=Analytics+Chart" class="img-fluid mb-2 user-profile" alt="Analytics Graph" />
                <p>Fitness Level: @Model.FitnessLevel</p>
                <button onclick="getUserPosition()">Get My Location</button>
                <p id="for-demo-only"></p>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/userLocation.js"></script>
}