@model GymBro_App.ViewModels.MealPlanHomeView?
@{
    ViewData["Title"] = "Meal Plan";
}
<div class="container mt-4">
    
<h2 class="display-4 mb-4">Meal Plans</h2>
<a asp-action="CreateMealPlan" asp-route-id="new"><button class="btn btn-primary mb-2 mr-2">Create Meal Plan</button></a>

@if(Model?.MealPlans.Count == 0){
    <hr>
    <div class="alert alert-info" role="alert">
        You have no meal plans yet. Create one to get started!
    </div>
}else{
<a asp-action="CreateMeal" asp-route-id="new"><button class="btn btn-primary mb-2 mr-2" id="create-meal-btn">Create Meal</button></a>
<a asp-action="Archive"><button class="btn btn-secondary mb-2" id="archive-btn">Archived Meals</button></a>

<button class="btn btn-secondary mb-2 mr-2" id="view-btn">Calendar View</button>

@if(Model != null && Model.didArchive){
    <div class="alert alert-warning" role="alert">
        Weve archived some old meal plans for you
    </div>
}

<div id="list">
    @if(Model != null){
        <a href="https://www.fatsecret.com">
            <img src="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret.png" srcset="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_2x.png 2x, https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_3x.png 3x" border="0"/>
        </a>

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <!--tr>
                    <th>Meal Plan Name</th>
                    <th>Meals</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr-->
            </thead>
            <tbody>
            @foreach(var plan in Model.MealPlans){
                <tr>
                    <td>
                        <a class="title-link" asp-action="MealPlanDetails" asp-route-id="@plan.Id"><h3>@plan.PlanName</h3></a>
                        <p> <span class="badge bg-primary me-1">Starts @plan.StartDate</span> <span class="badge bg-secondary">Ends @plan.EndDate</span></p>
                    </td>
                    <td>
                        <h4>Meals</h4>
                        @if(plan.Meals.Count == 0){
                            <p>No meals in this plan</p>
                        }
                        <ol class="meal-list">
                            @foreach(var meal in plan.Meals)
                            {
                                <li>
                                        <a class="title-link" asp-action="MealDetails" asp-route-id="@meal.Id"><h3>@meal.MealName:</h3></a>
                                        @foreach(long f in meal.Foods)
                                        {
                                            <p class="food-from-api" data-api-id="@f">-</p>
                                        }
                                </li>
                            }
                        </ol>
                    </td>
                
                </tr>
            }
            </tbody>

        </table>
    }
</div>


<div id="calendar" hidden></div>
}

<script src="~/js/mealDisplay.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/MealPlan.css" asp-append-version="true" />

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>

<script>
    getSchedule(@Model?.userId);
</script>
</div>