@model GymBro_App.ViewModels.MealView

@{
    ViewData["Title"] = "Meal Details";
}

<a asp-action="Index"><button class="btn btn-primary">Back to Meal Plans</button></a>
<hr>
<a asp-action="CreateMeal" asp-route-id="@Model.MealId"><button class="btn btn-primary">Edit Meal</button></a>
<div class="pt-2">
    <form method="post" asp-action="DeleteMeal" asp-route-id="" onsubmit="return confirm('Are you sure you want to delete this meal?');">
        <button class="btn btn-danger" type="submit">Delete</button>
        <input asp-for="MealId" hidden readonly/>
    </form>
</div>

<h2>Meal Details</h2>
<h3>@Model.MealName </h3>
<p><strong>Meal Type: </strong>@Model.MealType </p>
<p><strong>Meal Plan:</strong> <a class="title-link" asp-action="MealPlanDetails" asp-route-id="@Model.PlanIds.FirstOrDefault()">@Model.PlanNames.FirstOrDefault()</a></p>
<p><strong>Description: </strong> @Model.Description</p>
<h4>Foods</h4>
@foreach(long food in Model.Foods)
{
    <p class="food-from-api" data-api-id="@food"></p>
}

<script src="~/js/mealDisplay.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/MealPlan.css" asp-append-version="true" />